//@import './lib/nprogress';
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.component-wrapper {
  margin: 50px 0;
}

#g-signin-btn {
  background: white;
  border: none;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.mt {
  margin-top: 15px;
}

a.bp3-menu-item {
  color: black;
}

.bp3-menu a {
  text-decoration: none !important;
}

.bp3-menu li:not(:first-child) {
  margin: 10px 0;
}

.transcription {
  color: grey;
  font-weight: bold;
  position: absolute;
  right: 40px;
  top: 22px;
}

.dictionary-sound {
  color: #106ba3;
  bottom: 46px;
  right: 40px;
  bottom: 30px;
  position: absolute;
}
